body {
  background-color: #121725;
  font-family: "Chivo", sans-serif !important;
  background-image: url(./starter-code/assets/desktop/image-host.jpg);
  background-repeat: no-repeat;
  background-position: right 0 top 40%;
  height: 100vh;
}
.main_container {
  display: flex;
  align-items: center;
}
.top_container {
  display: flex;
  align-items: center;
  gap: 13.5px;
  margin-bottom: 202px;
  left: 13%;
  top: 10%;
  position: absolute;
}

.left_container {
  position: absolute;
  top: 31%;
  left: 12%;
  background: #121725;
  padding: 25px;
}

#main_h1 {
  color: #fff;
  font-size: 52px;
  font-style: normal;
  font-weight: 300;
  line-height: 62px;
  text-transform: uppercase;
  width: 665px;
}
#main_h1 span {
  color: #54e6af;
}

.left_container p {
  color: rgba(194, 203, 229, 1);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  opacity: 0.7;
  width: 445px;
  margin-bottom: 40px;
  margin-top: 24px;
}

.secondMain_div input {
  position: relative;
  width: 427px;
  height: 56px;
  border-radius: 28px;
  background: #2c344b;
  padding-left: 32px;
  color: #fff;
}
.secondMain_div input::placeholder {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.5;
}
.secondMain_div button {
  position: absolute;
  width: 162px;
  border-radius: 28px;
  background: #54e6af;
  box-shadow: 0px 2px 4px 0px rgba(84, 230, 175, 0.14);
  height: 46px;
  color: #121725;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  cursor: pointer;
  margin-left: 28vh;
}
#main_button:hover {
  background: #b3ffe2;
  box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.5);
}

.input_Button {
  display: flex;
  align-items: center;
  margin-bottom: 64px;
}
.media {
  display: flex;
  align-items: center;
  gap: 40px;
}

#main_h3 {
  color: #fb3e3e;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  margin-top: 74px;
  margin-left: 30px;
  display: none;
}

#main_svg {
  position: absolute;
  bottom: 12vh;
  right: 0;
}

@media screen and (max-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, rgb(18, 26, 38, 0.7993) 0 100%),
      url(./starter-code/assets/mobile/image-host.jpg);
  }
  .left_container {
    position: unset;
    padding: 0px;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #main_svg {
    display: none;
  }
  .top_container {
    position: absolute;
    left: 50%;
    top: 4%;
    transform: translateX(-50%);
    margin-bottom: 60px;
    margin-top: 72px;
    justify-content: center;
  }

  #main_h1 {
    width: 327px;
    font-size: 26px;
  }
  .left_container p {
    width: 327px;
    font-size: 15px;
    margin-top: 16px;
    margin-bottom: 34px;
  }
  .secondMain_div {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .media {
    gap: 23px;
    margin-bottom: 30px;
  }
  .media svg {
    width: 75px;
  }
  .secondMain_div input {
    width: 327px;
    height: 46px;
  }
  .secondMain_div button {
    width: 327px;
    height: 46px;
    margin-top: 21vh;
    margin-left: 0;
  }
  .input_Button {
    margin-bottom: 0;
  }
}
