body {
  background: #121725;
  font-family: "Chivo", sans-serif !important;
}
.main_container {
  display: flex;
  align-items: center;
}
.top_container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 13.5px;
  /* margin-left: 165px; */
  margin-bottom: 202px;
}

.left_container {
  margin-top: 191px;
  margin-left: 165px;
}

#main_h1 {
  color: #fff;
  font-size: 52px;
  font-style: normal;
  font-weight: 300;
  line-height: 62px;
  text-transform: uppercase;
  width: 665px;
}
#main_h1 span {
  color: #54e6af;
}

.left_container p {
  color: rgba(194, 203, 229, 1);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 155.556% */
  opacity: 0.7;
  width: 445px;
  margin-bottom: 40px;
  margin-top: 24px;
}

.secondMain_div input {
  position: relative;
  width: 427px;
  height: 56px;
  border-radius: 28px;
  background: #2c344b;
  padding-left: 32px;
}
.secondMain_div input::placeholder {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.5;

  /* text-align: left; */
  /* direction: ltr; */
}
.secondMain_div button {
  position: absolute;
  width: 162px;
  border-radius: 28px;
  background: #54e6af;
  box-shadow: 0px 2px 4px 0px rgba(84, 230, 175, 0.14);
  height: 46px;
  color: #121725;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 200% */
  cursor: pointer;
  margin-left: 28vh;
}
.input_Button {
  display: flex;
  align-items: center;
  margin-bottom: 64px;
  /* justify-content: center; */
}
.media {
  display: flex;
  align-items: center;
  gap: 40px;
}
/* .right_container img {
  display: flex;
  margin-top: 23vh;
} */
.right_container {
  margin-top: 23vh;
  background: lightgray url(/starter-code/assets/desktop/image-host.jpg)
    no-repeat;
  width: 100%;
  height: 640px; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
