body {
  background: #121725;
  font-family: "Chivo", sans-serif !important;
}
.top_container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 13.5px;
}

.left_container {
}

#main_h1 {
  color: #fff;
  font-size: 52px;
  font-style: normal;
  font-weight: 300;
  line-height: 62px;
  text-transform: uppercase;
}
#main_h1 span {
  color: #54e6af;
}

.left_container p {
  color: rgba(194, 203, 229, 1);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 155.556% */
  opacity: 0.7;
}
